
// Colorpalette for "Trip In Ukraine" project
   
// Color variables

$base-color: #ffcc00;
$link-color: #000033;
$link-hover: #262699;
$link-visited: #447397;
$hover-color: #ffbb00;
$visited-color: #cc5200;
$text-color: #110000;
$success-color: #30C030;
$fail-color: #FF2300;
$warning-color: #FFF700;
$notice-color: #ffdd88;
$help-color: #65E080;
$users-interface-blocks-colors: #FFA200; // Сюда добавить цвета для различных пользовательских блоков
$right-sidebar-color: #E9E3CA; // Background of right sidebar