@import 'buttons';

.popup {
	border: 0.1em solid #000;
	width: 20%;
	margin: 5em 5em;
}

.popup img {
	float: left;
	width: 4em;
	margin: 0.3em 0.3em;
}

.popup h5 {
	float: right;
	margin-top: 1em;
	margin-right: 1em;
}

.popup p {
	float: right;
	font-size: 0.7em;
}

button.more-details,
button.add-to-route,
button.choose-housing {
	background: none;
}