// SCSS

@import 'normalize';
@import 'susy';

$susy: (
  columns: 16,
  container: 1140px,
  global-box-sizing: border-box,
  debug: (image: show)
);

@include border-box-sizing;

// Clearfix Mixin
@mixin clearfix {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}


.wrap {
  @include container();
  // height: 100vh;
}

h2 {
	padding: 1rem 0;
	text-align: center;
	color: #555;
}

ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.site-header,
.site-footer {
	background: rgba(234,	159,	195, .8);
}

.site-header {
	a {
		color: #555;
		text-decoration: none;
	}
}

.content {
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: rgba(113,	218,	210, .8);
  @include span(12 of 16);
}

.sidebar {
  margin-top: 5vh;
  padding-bottom: 1rem;
	background: rgba(250,	231,	179, .8);
	@include span(4 of 16 last);
	a {
		color: #666;
		padding-left: 1rem;
		line-height: 2;
		text-decoration: none;
	}
}

.widget {
	background: rgba(240,	150,	113, .8);
}

.site-footer {
	margin-top: 5vh;
}

.logo {
	float: left;
	line-height: 2rem;
	font-size: 1.5rem;
}

nav {
	float: right;
	li {
		list-style: none;
		float: left;
		margin-left: 1em;
		line-height: 2rem;
	}
}

.gallery {
	@include clearfix;
	// background: rgb(200,	200,	2);
	width: span(10 of 12);
	margin-left: auto;
	margin-right: auto;
}

@include nested(10) {
  .gallery-item {
	  @include span(2);
	  margin-bottom: gutter();
	  &:nth-child(5n) {
      @include last;
	  }
  }
}

.widget {
	@include gallery(4 of 16);
}